<html>
<body>
<div class="Actividades">

<h1>Actividades</h1>
<img src="../assets/Mundo_Acuático,_Santiago_087 (1).jpg">
<p>En estas navidades del 2021 traemos varios eventos para que nuestros visitantes puedan gozar en familia</p>
<br>
<div class="Catalogo">
<p>Este sabado 18, tendremos un evento especial donde atenderan varios cantantes al parque</p>
<br>
<a href="https://www.instagram.com/p/CXd19iNu3RB/">Click para mas informacion</a>
<br>
<img src="../assets/af48939d4117e21a3acb8ec2dd463049.jpg">






</div>






</div>

</body>

</html>