   
<body>

<b><h1>Mundo Acuatico Park</h1></b>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
</body>


<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>



<h2>HORARIO</h2>


<table style="width:100%" bgcolor="#B2D4DE">
  <tr>
    <th>DIAS</th>
    <th>HORAS</th>
      
  </tr>
  <tr>

    <td>Lunes</td>
    <td>10AM–7PM</td>

  </tr>
  <tr>

    <td>Martes</td>
    <td>10AM–7PM</td>
  </tr>
  <tr>

    <td>Miercoles</td>
    <td>10AM–7PM</td>

  </tr>
    <tr>
    <td>Jueves</td>
    <td>10AM–7PM</td>
 
  </tr>
  <tr>

    <td>Viernes</td>
    <td>10AM–7PM</td>

  </tr>
  <tr>
    <td>Sabado</td>
    <td>10AM–6PM</td>

  </tr>


  <tr> 
     <td>Domingo</td>
    <td>10AM–6PM</td>

  </tr>
</table>


<p>Direccion: Av. Hispanoamericana #90, Santiago De Los Caballeros 51000</p>



<p>Para mas info, llamar al (809) 570-7070</p>


</body>
</html>

<body>

<b><h1>Mundo Acuatico Park</h1></b>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
</body>

<h2>Informacion del Parque</h2>

<p>Mundo Acuatico Park es uno de los parques acuáticos más grande y moderno del Caribe. Cuenta con más de 40,000 metros cuadrados de terreno, y con todas las atracciones y facilidades de los más exclusivos parques del mundo.
   Está ubicado en la provincia de Santiago, a pocos kilómetros del Aeropuerto Internacional del Cibao. Es el lugar perfecto para pasar un día de diversión y esparcimiento absolutos, ya sea con los amigos o con toda la familia, aprovechanlima de República Dominicana con y la ideal combinación de agua y frescura que ofrece este maravilloso parque acuático.
  En su interior, el parque cuenta con diversas piscinas, cada una con una estructura y  disposición temática diferente; y hay toda una serie de trampolines y toboganes que sólo agregan disfrute a la experiencia.  Además, el parque tiene empleado un estricto sistema de vigilancia y está disponible un amplio parqueo para los visitantes. Las instalaciones acuáticas están rodeadas por jardines de exuberante belleza que hacen el deleite de los visitantes </p>

  <p>Quienes visitan Mundo Acuatico Park de Santiago son recibidos por el personal de las oficinas administrativas quienes además les ofrecen las ofertas de temporada.  En el lugar es común la celebración de actividades artísticas, como la presentación de artistas nacionales e internacionales, así como la celebración de actividades privadas y semi-privadas tales como bodas, cumpleaños y recepciones empresariales

    Mundo Acuatico Park es una parada obligada en su recorrido por Santiago, donde podrá divertirse sin parar por un precio cómodo, en las condiciones de los mejores parques acuáticos y de diversión del mundo.
    
    El parque aquatico es abierto de la 10:00 AM hasta la 5:30 PM, cerrado los martes.</p>

<img src="https://elcomercio.pe/resizer/jGBAM00kjMpB7DDYjyZQ98cftOY=/980x528/smart/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/UEWKDZ5MIBAADLTCS5AX27PO6E.jpg" alt="Piscina">

